<!DOCTYPE html>
<html>
<head>
    <title>Sockets :: Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-2">Welcome to SenseAid</h1>
                <hr class="my-4">
                <p>Choose out of the selection below.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-primary" href="/blind">I am blind or visually impaired</a>
                <a class="btn btn-primary" href="/helper">I am a sighted volunteer</a>
            </div>
        </div>
    </div>
</body>
</html>